<!DOCTYPE html>
<!-- This website was created by: Aiden McNally -->
<html lang="en">
<head>
	<link rel="stylesheet" href="./css/styles.css">
	<title>Custom NA T-Shirts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="container">

	<!-- Use the header area for the website name or logo -->
	<header>
		<a href="home.html"><img src="images/logo.jpg" alt="Shirt Logo"></a>
	</header>

	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	<nav>
		<ul>	
			<li><a href="home.html">Home</a></li>
			<li><a href="aboutryan.html">About Us</a></li>
			<li><a href="order.html">Order A Shirt</a></li>
			<li><a href="contactryan.html">Contact Us</a></li>
		</ul>
	</nav>
	
	<!-- Home Page Banner -->
	<div id="banner" class="desktop">
		 <img src="images/banner.jpg" alt="banner image"> 
	</div>

	<!--Use the main area to add the main content of the webpage -->
	<main>

		<p>Welcome to the home of Custom NA T-Shirts made by Ryan Apel.</p>
		
		<div class= "mobile">
			
			</div>
			
			<div class="desktop">
			
			<p>If you have struggled with getting healthy and need the motivation and resources to make a healthy lifestyle change, contact us today.  Our facility includes state-of-the-art equipment, convenient group training classes, and nutrition tips and information to keep you healthy.</p>
			
			<p>We provide a FREE, one-week membership to experience the benefits of our equipment and facility.  This one-week trial gives you complete access to our equipment, training classes, and nutrition planning.  Contact us today to start your free trial!</p>
			
			<h1>Start Today!</h1>
			
			<figure>
				<a href="order.html"><img src="images/group.jpg" alt="order a shirt"></a>
				<a href="aboutryan.html"><img src="images/nutrition.jpg" alt="about us"></a>
				<a href="contactryan.html"><img src="images/signup.jpg" alt="contact ryan"></a>
			</figure>
			
			</div>
			
	</main>

	<!-- Use the footer area to add webpage footer content -->
	<footer>
		This website was made with the consent of all parties involved..<br>
		<a href="mailto:rapel@nastudents.org">rapel@nastudents.org</a>
	</footer>
	
	</div>

</body>
</html>